body {
  font-size: 13px;
  font-family: Lato,Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #6A6A6A;
  background: #E9E9E9;
  margin: 0px;
  font-family: Lato, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}
